@{
    Layout = "_AdminMenuLayout";
    ViewData ["Title"] = "Equipos por usuario";
}
<div class="container">

    <h2>Equipos gamer de (nombre del usuario)</h2>
    <div class="row">
        <div class="col-md-12 p-2">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Titulos</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">RED BULL</th>
                        <td>Mejor Equipo de Medellin</td>
                        <td>Medellin</td>
                        <td>NO</td>
                    </tr>
                    <tr>
                        <th scope="row">Activision</th>
                        <td>Mejor Valorado, Promesa</td>
                        <td>Bogota</td>
                        <td>SI</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!--MODALES-->
<div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningModalLabel">Remover usuario de evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿ Estás seguro que deseas quitar este usuario del evento ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dangerModal" tabindex="-1" aria-labelledby="dangerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dangerModalLabel">Eliminación elemento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿ Estás seguro que deseas eliminar este elemento ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bindUsersWithEventModal" tabindex="-1" aria-labelledby="bindUsersWithEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bindUsersWithEventModalLabel">Vincular usuarios a evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group">
                        <label for="search-user" class="col-form-label">Buscar...</label>
                        <input type="text" class="form-control" id="search-user">
                    </div>
                    <div class="users-container">
                        <p class="modal-list-item selected-item">juan1234@gmail.com</p>
                        <p class="modal-list-item">juan1234@gmail.com</p>
                        <p class="modal-list-item">juan1234@gmail.com</p>
                        <p class="modal-list-item">juan1234@gmail.com</p>
                        <p class="modal-list-item">juan1234@gmail.com</p>
                        <p class="modal-list-item">juan1234@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>

