@{
    Layout = "_AdminMenuLayout";
    ViewData ["Title"] = "Pabellones";
    Evento evento = Model;
}

@section Scripts {
    <script src="~/js/admin/pabellones.js"></script>
}
<div class="container mt-2">

    <h2 style="text-align:center;">Crear Pabellon</h2>
    <div class="row justify-content-center">
        <div class="col-8">
            <form>
                 <input type="hidden" value="@evento.EventoId" id="eventId"/>
                <div class="mb-3">
                    <label for="tematica" class="form-label">Tamatica</label>
                    <input type="text" class="form-control" id="tematica">
                </div>
                <div class="mb-3">
                    <label for="area" class="form-label">Area</label>
                    <input type="text" class="form-control" id="area">
                </div>
                <div class="mb-3">
                    <label for="ubicacion" class="form-label">Ubicación</label>
                    <input type="text" class="form-control" id="ubicacion">
                </div>
               <button type="button" class="btn btn-primary" id="crearPabellon">Crear</button>
            </form>
        </div>
    </div>
</div>

