
@{
    Layout = "_AdminMenuLayout";
    ViewData ["Title"] = "Nuevo Equipo";
}
@section Scripts {
    <script src="~/js/admin/equipos.js"></script>
}

@Html.AntiForgeryToken()

<div class="container">

    <h2>Crear Equipo</h2>
    <div class="row">
        <div class="col-md-8">
            <form>
                <div class="mb-3">
                    <label for="nombreEquipo" class="form-label">Nombre del equipo</label>
                    <input type="text" class="form-control" id="nombreEquipo">
                </div>
                <div class="mb-3">
                    <label for="tituloEquipo" class="form-label">Título del equipo</label>
                    <input type="text" class="form-control" id="tituloEquipo">
                </div>
                <div class="mb-3">
                    <label for="ciudadEquipo" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="ciudadEquipo">
                </div>
                <button type="button" class="btn btn-primary" id="crearEquipo">Crear</button>
            </form>
        </div>
    </div>


</div>


